In [1]:
# import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys

# Ans1  Scraped data for “Data Analyst” Job position in “Bangalore” location.

In [13]:
# connect to the web driver

driver = webdriver.Chrome(r'C:\Users\Surjit Singh Kadian\Downloads\chromedriver_win32\chromedriver.exe')

In [14]:
# specifying the url of the webpage to be scraped and to maximize the window
driver.get('https://www.naukri.com')
driver.maximize_window()

In [15]:
# finding element for job search bar

search_field_designation = driver.find_element_by_class_name('suggestor-input') #job search bar
search_field_designation.send_keys('Data Analyst')
search_field_location = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input') #location search bar
search_field_location.send_keys('Bangalore')

In [16]:
# to search on given input
search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [23]:
# empty list
job_title= []
job_location = []
company_names = []
experience_required = []

In [24]:
# so lets extract all the tags having the job titles

job_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_tags[0:10]

# Now the text of the job title is inside the tags extracted above.

# So we will run a loop to iterate over the tags extracted above

for i in job_tags:
    title = i.text
    job_title.append(title)
    
job_title[0:10]

['Sr Domain Expert -Data Analysts',
 'Senior Data Analyst (Digital Services Analytics)',
 'Senior Data Analyst',
 'Data Analyst - IIM/ISB/MDI/FMS/SP Jain',
 'Staff Business Data Analyst - FDP',
 'Data Analyst',
 'Data Analyst 2',
 'Senior Professional Data Analyst',
 'Data Analyst - Python/Artificial Intelligence',
 'MDM - Data Analyst']

In [25]:
# so lets extract all the tags having the job location

location_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')
location_tags[0:10]

# Now the text of the job title is inside the tags extracted above.

# So we will run a loop to iterate over the tags extracted above

for i in location_tags:
    location = i.text
    job_location.append(location)
    
job_location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Mumbai, Visakhapatnam, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Delhi / NCR, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [26]:
# so lets extract all the tags having the company name required
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[0:10]


# Now the text of the job title is inside the tags extracted above.

# So we will run a loop to iterate over the tags extracted above

for i in company_tags:
    company_name = i.text
    company_names.append(company_name)
    
company_names[0:10]

['Siemens',
 'Dell Technologies',
 'Intel',
 'K12 Techno Services Pvt Ltd',
 'Intuit Inc.',
 'Vedantu Innovations',
 'PayPal',
 'DXC Technology',
 'iMindYourBusiness',
 'Shell']

In [27]:
# so lets extract all the tags having the experience required
experience_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span[1]')
experience_tags[0:10]

# Now the text of the job title is inside the tags extracted above.

# So we will run a loop to iterate over the tags extracted above

for i in experience_tags:
    experience = i.text
    experience_required.append(experience)
    
experience_required[0:10]

['0-10 Yrs',
 '1-6 Yrs',
 '3-8 Yrs',
 '4-9 Yrs',
 '5-7 Yrs',
 '0-3 Yrs',
 '5-8 Yrs',
 '3-7 Yrs',
 '0-2 Yrs',
 '3-4 Yrs']

In [31]:
# import pandas as pd to make a dataframe
jobs = pd.DataFrame({})
jobs['Job_title']=job_title[0:10]
jobs['Job_location']=job_location[0:10]
jobs['Company_names']=company_names[0:10]
jobs['Experience_required']=experience_required[0:10]

In [32]:
jobs

,Job_title,Job_location,Company_names,Experience_required
0,Sr Domain Expert -Data Analysts,Bangalore/Bengaluru,Siemens,0-10 Yrs
1,Senior Data Analyst (Digital Services Analytics),Bangalore/Bengaluru,Dell Technologies,1-6 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Intel,3-8 Yrs
3,Data Analyst - IIM/ISB/MDI/FMS/SP Jain,Bangalore/Bengaluru,K12 Techno Services Pvt Ltd,4-9 Yrs
4,Staff Business Data Analyst - FDP,Bangalore/Bengaluru,Intuit Inc.,5-7 Yrs
5,Data Analyst,Bangalore/Bengaluru,Vedantu Innovations,0-3 Yrs
6,Data Analyst 2,Bangalore/Bengaluru,PayPal,5-8 Yrs
7,Senior Professional Data Analyst,Bangalore/Bengaluru,DXC Technology,3-7 Yrs
8,Data Analyst - Python/Artificial Intelligence,"Kolkata, Mumbai, Visakhapatnam, Hyderabad/Secu...",iMindYourBusiness,0-2 Yrs
9,MDM - Data Analyst,Bangalore/Bengaluru,Shell,3-4 Yrs

# Ans2) Data for “Data Scientist” Job position in “Bangalore”

In [175]:
# connect to the web driver

driver = webdriver.Chrome(r'C:\Users\Surjit Singh Kadian\Downloads\chromedriver_win32\chromedriver.exe')

# specifying the url of the webpage to be scraped and to maximize the window

driver.get('https://www.naukri.com')
driver.maximize_window()

In [176]:
# finding elements for job search
search_field_designation = driver.find_element_by_class_name("suggestor-input")  #job search bar
search_field_designation.send_keys('Data Scientist')

search_field_location = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')  #location search bar
search_field_location.send_keys('Bangalore')

# to search given input

search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

time.sleep(2)

# empty list

job_title = []
job_location = []
company_names = []
experience_required = []

# so lets extract all the tags list

job_list = driver.find_element_by_xpath('//div[@class="list"]')
job_list.text

time.sleep(2)

# So we will run a loop to iterate over the tags extracted above

items = job_list.find_elements_by_xpath('//article[@class="jobTuple bgWhite br4 mb-8"]')
items


for item in items:
    title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
    for i in title_tags:
        job_title.append(i.text)
        
job_title[0:10]

time.sleep(2)


for item in items:
    location_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')
    for i in location_tags:
        job_location.append(i.text)
        
job_location[0:10]


for item in items:
    company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
    for i in company_tags:
        company_names.append(i.text)
        
company_names[0:10]

time.sleep(2)


for item in items:
    experience_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span[1]')
    for i in experience_tags:
        experience_required.append(i.text)

experience_required[0:10]

['0-3 Yrs',
 '1-4 Yrs',
 '2-4 Yrs',
 '4-7 Yrs',
 '10-15 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '6-9 Yrs',
 '4-7 Yrs',
 '2-7 Yrs']

In [179]:
# import pandas as pd to make a dataframe
jobs = pd.DataFrame({})
jobs['Job_title']=job_title[0:10]
jobs['Job_location']=job_location[0:10]
jobs['Company_names']=company_names[0:10]
jobs['Experience_required']=experience_required[0:10]

In [180]:
jobs

,Job_title,Job_location,Company_names,Experience_required
0,Data Scientist,Bangalore/Bengaluru,Applied Materials,0-3 Yrs
1,ASSOCIATE DATA SCIENTIST,Bangalore/Bengaluru,Hinduja Global,1-4 Yrs
2,Data Scientist,Bangalore/Bengaluru,Applied Materials,2-4 Yrs
3,Data Scientist,Bangalore/Bengaluru,Applied Materials,4-7 Yrs
4,Manager - Data Scientist Job @ Applied Materia...,Bangalore/Bengaluru(Whitefield),Applied Materials,10-15 Yrs
5,Data Scientist/Engineer - Global Telecom Setup,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Global Telecom Setup,3-8 Yrs
6,Data Scientist - Immediate Joiners,"Noida, Mumbai, Pune, Bangalore/Bengaluru",Bristlecone,3-8 Yrs
7,Senior Data Scientist/Data Scientist - Researc...,Bangalore/Bengaluru,Hexaconcepts,6-9 Yrs
8,Data Scientist,Bangalore/Bengaluru,GSK India,4-7 Yrs
9,Immediate requirement of Data Scientist ( Bang...,Bangalore/Bengaluru,Firstsource Solutions Limited,2-7 Yrs

# Ans3 Scrape data using the filters available

In [188]:
# connect to the web driver

driver = webdriver.Chrome(r'C:\Users\Surjit Singh Kadian\Downloads\chromedriver_win32\chromedriver.exe')

# load the webpage

driver.get('https://www.naukri.com')

time.sleep(2)

# to maximize the window

driver.maximize_window()

In [189]:
# finding elements for job search
search_field_designation = driver.find_element_by_class_name("suggestor-input")  #job search bar
search_field_designation.send_keys('Data Scientist')

search_field_location = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')  #location search bar
search_field_location.send_keys('Delhi')

time.sleep(2)

# to search the given input

search_button = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [193]:
# filter by salary
filter_salary = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')
filter_salary.click()

In [194]:
# filter by location 
filter_location = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[12]/div[2]/div[2]/label/p/span[1]')
filter_location.click()

In [195]:
# empty list
job_title = []
job_location = []
company_names = []
experience_required = []


# So we will run a loop to iterate over the tags extracted 

job_list = driver.find_element_by_xpath('//div[@class="list"]')
job_list.text

time.sleep(2)

items = job_list.find_elements_by_xpath('//article[@class="jobTuple bgWhite br4 mb-8"]')
items


for item in items:
    title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
    for i in title_tags:
        job_title.append(i.text)
        
job_title[0:10]

time.sleep(2)


for item in items:
    location_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')
    for i in location_tags:
        job_location.append(i.text)
        
job_location[0:10]


for item in items:
    company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
    for i in company_tags:
        company_names.append(i.text)
        
company_names[0:10]

time.sleep(2)


for item in items:
    experience_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span[1]')
    for i in experience_tags:
        experience_required.append(i.text)

experience_required[0:10]

['2-6 Yrs',
 '1-5 Yrs',
 '2-7 Yrs',
 '0-4 Yrs',
 '3-7 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '1-5 Yrs',
 '3-8 Yrs',
 '4-8 Yrs']

In [196]:
# import pandas as pd to make a dataframe
jobs = pd.DataFrame({})
jobs['Job_title']=job_title[0:10]
jobs['Job_location']=job_location[0:10]
jobs['Company_names']=company_names[0:10]
jobs['Experience_required']=experience_required[0:10]

In [198]:
jobs

,Job_title,Job_location,Company_names,Experience_required
0,Hiring For Senior Data Scientist-Noida,"Noida, Greater Noida, Delhi / NCR",Lumiq.ai,2-6 Yrs
1,Opening For Data Scientist,Gurgaon/Gurugram,Care Health Insurance,1-5 Yrs
2,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs
3,"Data Scientist/ Machine Learning, 2022 Passout...","Hyderabad/Secunderabad, Ahmedabad, Chennai, Ba...",Creative Hands HR Consultancy,0-4 Yrs
4,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs
5,Data Scientist,New Delhi,Boston Consulting Group,2-5 Yrs
6,Urgent Requirement || Data Scientist || Noida,"Noida, Delhi / NCR",HCL Technologies,3-8 Yrs
7,Senior Data Scientist,Delhi,iNICU,1-5 Yrs
8,AM Data Scientist - Goods & Service Tax Networ...,Delhi / NCR,NISG (National Institute for Smart Government),3-8 Yrs
9,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs

# Ans4) Scrape data of first 100 sunglasses listings on flipkart.com

In [52]:
# connect to the web driver

driver = webdriver.Chrome(r'C:\Users\Surjit Singh Kadian\Downloads\chromedriver_win32\chromedriver.exe')

# load the webpage

driver.get('https://www.flipkart.com/')

time.sleep(2)

# to maximize the window

driver.maximize_window()

In [55]:
# send the input to the webpage

search_field_designation = driver.find_element_by_class_name('_3704LK') 
search_field_designation.send_keys('sunglasses')

search_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [56]:
# empty list
Brand = []
Product_Description = []
Price = []
Discount = []

In [57]:
# So lets extract all the tags having the brand name
# So we will run a loop to iterate over the tags extracted above and to click on next page
for i in range(5):
    print('Scraping page',i+1)
    brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for b in brand_tags:
        Brand.append(b.text)
    next_button = driver.find_element_by_xpath('//div[@class="_2MImiq"]')
    next_button.click()
    time.sleep(2)
    
Brand[0:100]

Scraping page 1
Scraping page 2
Scraping page 3
Scraping page 4
Scraping page 5

['Elligator',
 'Fastrack',
 'SRPM',
 'ROYAL SON',
 'New Specs',
 'SHAAH COLLECTIONS',
 'SUNBEE',
 'john jacobs',
 'Fastrack',
 'PIRASO',
 'PIRASO',
 'CRYSTAL CART',
 'Lee Topper',
 'PIRASO',
 'GANSTA',
 'Singco India',
 'DEIXELS',
 'PIRASO',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'Elligator',
 'Lee Topper',
 'New Specs',
 'CRYSTAL CART',
 'SUNBEE',
 'hipe',
 'kingsunglasses',
 'VINCENT CHASE',
 'SUNBEE',
 'SRPM',
 'ROZZETTA CRAFT',
 'Cristiano Ronnie',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'john jacobs',
 'SHAAH COLLECTIONS',
 'Singco India',
 'hipe',
 'BAJERO',
 'ROYAL SON',
 'HIPPON',
 'NuVew',
 'GANSTA',
 'HIPPON',
 'PHENOMENAL',
 'LIZA ANGEL',
 'Dark Wost',
 'Silver Kartz',
 'Ray-Ban',
 'kingsunglasses',
 'LOUIS KOUROS',
 'Fravy',
 'kingsunglasses',
 'ROYAL SON',
 'ROYAL SON',
 'Fastrack',
 'Fastrack',
 'VINCENT CHASE',
 'Silver Kartz',
 'PIRASO',
 'Fastrack',
 'GANSTA',
 'ROYAL SON',
 'AISLIN',
 'GANSTA',
 'Fastrack',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'VINCENT CHASE',
 'Elligator',
 'CRYSTAL CART',
 'Billion',
 'Lee Topper',
 'Fastrack',
 'Roadster',
 'GANSTA',
 'Elligator',
 'elegante',
 'ROYAL SON',
 'elegante',
 'Fastrack',
 'kingsunglasses',
 'Fair-x',
 'ROYAL SON',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'Roadster',
 'Mi',
 'IDEE',
 'HAMIW COLLECTION',
 'CRYSTAL CART',
 'New Specs',
 'GANSTA',
 'AISLIN',
 'Silver Kartz',
 'ROZZETTA CRAFT',
 'Ray-Ban',
 'ROZZETTA CRAFT',
 'ROYAL SON']

In [58]:
# So lets extract all the tags having the product details
# So we will run a loop to iterate over the tags extracted above and to click on next page
for i in range(5):
    print('Scraping page',i+1)
    product_tags = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for p in product_tags:
        Product_Description.append(p.text)
    next_button = driver.find_element_by_xpath('//div[@class="_2MImiq"]')
    next_button.click()
    time.sleep(2)
    
Product_Description[0:100]

Scraping page 1
Scraping page 2
Scraping page 3
Scraping page 4
Scraping page 5

['Polarized, Riding Glasses, Night Vision Sports, Wrap-ar...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (55)',
 'Mirrored, Riding Glasses, UV Protection Sports Sunglass...',
 'Mirrored Aviator Sunglasses (55)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (58)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (57)',
 'UV Protection Wayfarer, Sports, Shield, Rectangular, Re...',
 'Polarized, UV Protection Retro Square Sunglasses (Free ...',
 'UV Protection, Others Rectangular Sunglasses (Free Size...',
 'Night Vision, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (52)',
 'UV Protection, Gradient Cat-eye Sunglasses (61)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (54)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection Round Sunglasses (48)',
 'UV Protection Retro Square, Wayfarer Sunglasses (58)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Retro Square, Spectacle ...',
 'Polarized Round Sunglasses (48)',
 'Riding Glasses, UV Protection Aviator Sunglasses (50)',
 'Gradient Aviator Sunglasses (55)',
 'UV Protection, Riding Glasses Round Sunglasses (20)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection Retro Square Sunglasses (62)',
 'Polarized, Riding Glasses, Night Vision Sports, Wrap-ar...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (55)',
 'Mirrored, Riding Glasses, UV Protection Sports Sunglass...',
 'Mirrored Aviator Sunglasses (55)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (58)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (57)',
 'UV Protection Wayfarer, Sports, Shield, Rectangular, Re...',
 'Polarized, UV Protection Retro Square Sunglasses (Free ...',
 'UV Protection, Others Rectangular Sunglasses (Free Size...',
 'Night Vision, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (52)',
 'UV Protection, Gradient Cat-eye Sunglasses (61)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (54)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection Round Sunglasses (48)',
 'UV Protection Retro Square, Wayfarer Sunglasses (58)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Retro Square, Spectacle ...',
 'Polarized Round Sunglasses (48)',
 'Riding Glasses, UV Protection Aviator Sunglasses (50)',
 'Gradient Aviator Sunglasses (55)',
 'UV Protection, Riding Glasses Round Sunglasses (20)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection Retro Square Sunglasses (62)',
 'Polarized, Riding Glasses, Night Vision Sports, Wrap-ar...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (55)',
 'Mirrored, Riding Glasses, UV Protection Sports Sunglass...',
 'Mirrored Aviator Sunglasses (55)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (58)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (57)',
 'UV Protection Wayfarer, Sports, Shield, Rectangular, Re...',
 'Polarized, UV Protection Retro Square Sunglasses (Free ...',
 'UV Protection, Others Rectangular Sunglasses (Free Size...',
 'Night Vision, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (52)']

In [59]:
# So lets extract all the tags having the product price
# So we will run a loop to iterate over the tags extracted above and to click on next page
for i in range(5):
    print('Scraping page',i+1)
    price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for p in price_tags:
        Price.append(p.text)
    next_button = driver.find_element_by_xpath('//div[@class="_2MImiq"]')
    next_button.click()
    time.sleep(2)
    
Price[0:100]

Scraping page 1
Scraping page 2
Scraping page 3
Scraping page 4
Scraping page 5

['₹499',
 '₹809',
 '₹269',
 '₹341',
 '₹379',
 '₹719',
 '₹314',
 '₹567',
 '₹849',
 '₹979',
 '₹239',
 '₹349',
 '₹210',
 '₹221',
 '₹458',
 '₹320',
 '₹399',
 '₹3,349',
 '₹308',
 '₹759',
 '₹458',
 '₹413',
 '₹458',
 '₹426',
 '₹719',
 '₹1,599',
 '₹189',
 '₹649',
 '₹616',
 '₹310',
 '₹185',
 '₹426',
 '₹269',
 '₹375',
 '₹225',
 '₹347',
 '₹224',
 '₹179',
 '₹1,099',
 '₹854',
 '₹499',
 '₹809',
 '₹269',
 '₹341',
 '₹379',
 '₹719',
 '₹314',
 '₹567',
 '₹849',
 '₹979',
 '₹239',
 '₹349',
 '₹210',
 '₹221',
 '₹458',
 '₹320',
 '₹399',
 '₹3,349',
 '₹308',
 '₹759',
 '₹458',
 '₹413',
 '₹458',
 '₹426',
 '₹719',
 '₹1,599',
 '₹189',
 '₹649',
 '₹616',
 '₹310',
 '₹185',
 '₹426',
 '₹269',
 '₹375',
 '₹225',
 '₹347',
 '₹224',
 '₹179',
 '₹1,099',
 '₹854',
 '₹499',
 '₹809',
 '₹269',
 '₹341',
 '₹379',
 '₹719',
 '₹314',
 '₹567',
 '₹849',
 '₹979',
 '₹239',
 '₹349',
 '₹210',
 '₹221',
 '₹458',
 '₹320',
 '₹399',
 '₹3,349',
 '₹308',
 '₹759']

In [60]:
# So lets extract all the tags having the discount on products
# So we will run a loop to iterate over the tags extracted above and to click on next page
for i in range(5):
    print('Scraping page',i+1)
    discount_tags = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span[1]')
    for p in discount_tags:
        Discount.append(p.text)
    next_button = driver.find_element_by_xpath('//div[@class="_2MImiq"]')
    next_button.click()
    time.sleep(2)
        
Discount[0:100]

Scraping page 1
Scraping page 2
Scraping page 3
Scraping page 4
Scraping page 5

['78% off',
 '10% off',
 '82% off',
 '77% off',
 '74% off',
 '20% off',
 '81% off',
 '48% off',
 '15% off',
 '49% off',
 '88% off',
 '73% off',
 '85% off',
 '87% off',
 '78% off',
 '78% off',
 '85% off',
 '40% off',
 '81% off',
 '62% off',
 '73% off',
 '72% off',
 '69% off',
 '78% off',
 '20% off',
 '20% off',
 '88% off',
 '67% off',
 '75% off',
 '61% off',
 '82% off',
 '78% off',
 '85% off',
 '71% off',
 '54% off',
 '65% off',
 '80% off',
 '82% off',
 '15% off',
 '57% off',
 '78% off',
 '10% off',
 '82% off',
 '77% off',
 '74% off',
 '20% off',
 '81% off',
 '48% off',
 '15% off',
 '49% off',
 '88% off',
 '73% off',
 '85% off',
 '87% off',
 '78% off',
 '78% off',
 '85% off',
 '40% off',
 '81% off',
 '62% off',
 '73% off',
 '72% off',
 '69% off',
 '78% off',
 '20% off',
 '20% off',
 '88% off',
 '67% off',
 '75% off',
 '61% off',
 '82% off',
 '78% off',
 '85% off',
 '71% off',
 '54% off',
 '65% off',
 '80% off',
 '82% off',
 '15% off',
 '57% off',
 '78% off',
 '10% off',
 '82% off',
 '77% off',
 '74% off',
 '20% off',
 '81% off',
 '48% off',
 '15% off',
 '49% off',
 '88% off',
 '73% off',
 '85% off',
 '87% off',
 '78% off',
 '78% off',
 '85% off',
 '40% off',
 '81% off',
 '62% off']

In [62]:
# Building data frame
sunglasses = pd.DataFrame({})
sunglasses['Brand']=Brand[0:100]
sunglasses['Product_Description']=Product_Description[0:100]
sunglasses['Price']=Price[0:100]
sunglasses['Discount']=Discount[0:100]

In [65]:
sunglasses

,Brand,Product_Description,Price,Discount
0,Elligator,"Polarized, Riding Glasses, Night Vision Sports...",₹499,78% off
1,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹809,10% off
2,SRPM,UV Protection Rectangular Sunglasses (55),₹269,82% off
3,ROYAL SON,"Mirrored, Riding Glasses, UV Protection Sports...",₹341,77% off
4,New Specs,Mirrored Aviator Sunglasses (55),₹379,74% off
...,...,...,...,...
95,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹320,78% off
96,ROZZETTA CRAFT,UV Protection Round Sunglasses (Free Size),₹399,85% off
97,Ray-Ban,"Mirrored, UV Protection Aviator Sunglasses (58)","₹3,349",40% off
98,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹308,81% off
99,ROYAL SON,"Polarized, UV Protection Round Sunglasses (52)",₹759,62% off

# Ans5)Scrape 100 reviews data from flipkart.com for iphone11 phone

In [150]:
# connect to the web driver

driver = webdriver.Chrome(r'C:\Users\Surjit Singh Kadian\Downloads\chromedriver_win32\chromedriver.exe')

# load the webpage

driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

time.sleep(2)

# to maximize the window

driver.maximize_window()

In [151]:
# to click on  rating review option 
rating_review_data = driver.find_element_by_xpath('//div[@class="_3_L3jD"]')
rating_review_data.click()

In [152]:
# to extract all the ratings and reviews
all_review = driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]/span[1]')
all_review.click()

In [153]:
# empty list
Rating = []
Review_summary = []
Full_review = []

In [154]:
# So we will run a loop to iterate over the tags extracted and to click on next page
for i in range(10):
    print('Scraping page',i+1)
    rating_tags = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for r in rating_tags:
        Rating.append(r.text)
    next_button = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)
Rating[0:100]

Scraping page 1
Scraping page 2
Scraping page 3
Scraping page 4
Scraping page 5
Scraping page 6
Scraping page 7
Scraping page 8
Scraping page 9
Scraping page 10

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5']

In [155]:
# So we will run a loop to iterate over the tags extracted and to click on next page
for i in range(10):
    print('Scraping page',i+1)
    review_tags = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for r in review_tags:
        Review_summary.append(r.text)
    next_button = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)
        
Review_summary[0:100]

Scraping page 1
Scraping page 2
Scraping page 3
Scraping page 4
Scraping page 5
Scraping page 6
Scraping page 7
Scraping page 8
Scraping page 9
Scraping page 10

['Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Worth every penny',
 'Simply awesome',
 'Classy product',
 'Terrific',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Worth every penny',
 'Simply awesome',
 'Classy product',
 'Terrific',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Worth every penny',
 'Simply awesome',
 'Classy product',
 'Terrific',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Worth every penny',
 'Simply awesome',
 'Classy product',
 'Terrific',
 'Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Worth every penny',
 'Simply awesome',
 'Classy product',
 'Terrific']

In [157]:
# So we will run a loop to iterate over the tags extracted and to click on next page
for i in range(10):
    full_review_tags = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for f in full_review_tags:
        Full_review.append(f.text)
        
    next_button = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)
        
Full_review[0:100]

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',
 'Really worth of money. i just love it. It is the best phone ever.',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',
 'Really worth of money. i just love it. It is the best phone ever.',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',
 'Really worth of money. i just love it. It is the best phone ever.',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',

In [158]:
print(len(Rating),len(Review_summary),len(Full_review))

100 100 100

In [159]:
# import pandas as pd to make a dataframe
df = pd.DataFrame({'Rating':Rating[0:100],'Review_Summary':Review_summary[0:100],'Full_Review':Full_review[0:100]})
df

,Rating,Review_Summary,Full_Review
0,5,Highly recommended,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Really satisfied with the Product I received.....
2,5,Perfect product!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,Amazing phone with great cameras and better ba...
4,5,Worth every penny,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
96,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
97,4,Simply awesome,"Excellent camera, good performance, no lag. Th..."
98,5,Classy product,Totally in love with this ❤ the camera quality...
99,5,Terrific,Really worth of money. i just love it. It is t...

# Ans6)Scrape data for first 100 sneakers you find when you visit flipkart.com

In [219]:
# connect to the web driver

driver = webdriver.Chrome(r'C:\Users\Surjit Singh Kadian\Downloads\chromedriver_win32\chromedriver.exe')

# load the webpage

driver.get('https://www.flipkart.com/')

time.sleep(2)

# to maximize the window

driver.maximize_window()

In [220]:
# send the input to the webpage

search_field_designation = driver.find_element_by_class_name('_3704LK') 
search_field_designation.send_keys('sneakers')

time.sleep(2)
# to search the given input

search_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [221]:
# empty list
Brand = []
Product_description = []
Price= []
Discount = []

In [222]:
# So we will run a loop to iterate over the tags extracted and to click on next page
for i in range(10):
    print('Scraping page',i+1)
    brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for r in brand_tags:
        Brand.append(r.text)
    next_button = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)
Brand[0:100]

Scraping page 1
Scraping page 2
Scraping page 3
Scraping page 4
Scraping page 5
Scraping page 6
Scraping page 7
Scraping page 8
Scraping page 9
Scraping page 10

['RapidBox',
 'RapidBox',
 'D-SNEAKERZ',
 'aadi',
 'corsac',
 'URBANBOX',
 'Chevit',
 'Brucharm',
 'Magnolia',
 'World Wear Footwear',
 'BRUTON',
 'aadi',
 'World Wear Footwear',
 'Kraasa',
 'ASTEROID',
 'aRICS',
 'Labbin',
 'World Wear Footwear',
 'Chevit',
 'andD',
 'SCATCHITE',
 'aadi',
 'D-SNEAKERZ',
 'Airland',
 'ASTEROID',
 'BIRDE',
 'KWIK FIT',
 'FEWROK',
 'Kraasa',
 'BRUTON',
 'BRUTON',
 'DUCATI',
 'PUMA',
 'CLYMB',
 'aadi',
 'highfie',
 'Chevit',
 'BRUTON',
 'Layasa',
 'REEBOK CLASSICS',
 'bluemaker',
 'Chevit',
 'Rzisbo',
 'asics',
 'World Wear Footwear',
 'BRUTON',
 'Airland',
 'ADIDAS',
 'Zsyto',
 'Hida',
 'Echor',
 'U.S. POLO ASSN.',
 'Chevit',
 'WHITE WALKERS',
 'BIRDE',
 'U.S. POLO ASSN.',
 'Kraasa',
 'kardam&sons',
 'Arohi',
 'HRX by Hrithik Roshan',
 'corsac',
 'Chevit',
 'Robbie jones',
 'ADIDAS',
 'Chevit',
 'KNIGHT WALKERS',
 'Echor',
 'Roadster',
 'Shoes Bank',
 'WHITE WALKERS',
 'Chevit',
 'Blackberrys',
 'BIRDE',
 'BIRDE',
 'BRUTON',
 'Kzaara',
 'Robbie jones',
 'World Wear Footwear',
 'DUNKASTON',
 'Xtoon',
 'RapidBox',
 'RapidBox',
 'D-SNEAKERZ',
 'aadi',
 'corsac',
 'URBANBOX',
 'Chevit',
 'Brucharm',
 'Magnolia',
 'World Wear Footwear',
 'BRUTON',
 'aadi',
 'World Wear Footwear',
 'Kraasa',
 'ASTEROID',
 'aRICS',
 'Labbin',
 'World Wear Footwear',
 'Chevit',
 'andD']

In [224]:
# So we will run a loop to iterate over the tags extracted and to click on next page
for i in range(10):
    print('Scraping page',i+1)
    product_tags = driver.find_elements_by_xpath('//a[@class="IRpwTa _2-ICcC"]')
    for r in product_tags:
        Product_description.append(r.text)
    next_button = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)
Product_description[0:100]

Scraping page 1
Scraping page 2
Scraping page 3
Scraping page 4
Scraping page 5
Scraping page 6
Scraping page 7
Scraping page 8
Scraping page 9
Scraping page 10

['Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 '516 Trendy Star Perfect Sneakers For Men',
 'STYLISH SNEAKERS CANVAS SHOES FOR ALL Sneakers For Men',
 'Premium quality Sneakers For Men',
 'Standard High Quality Sneakers For Men',
 "Men's Casual Sports Training Fashion Trendy Shoes Sneak...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 '516 Trendy Star Perfect Sneakers For Men',
 'STYLISH SNEAKERS CANVAS SHOES FOR ALL Sneakers For Men',
 'Premium quality Sneakers For Men',
 'Standard High Quality Sneakers For Men',
 "Men's Casual Sports Training Fashion Trendy Shoes Sneak...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'STYLISH MENS BLACK TRENDY SNEAKER FOR MENS Sneakers For...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 '516 Trendy Star Perfect Sneakers For Men',
 'STYLISH SNEAKERS CANVAS SHOES FOR ALL Sneakers For Men',
 'Premium quality Sneakers For Men',
 'Standard High Quality Sneakers For Men',
 "Men's Casual Sports Training Fashion Trendy Shoes Sneak...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'STYLISH MENS BLACK TRENDY SNEAKER FOR MENS Sneakers For...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 '516 Trendy Star Perfect Sneakers For Men',
 'STYLISH SNEAKERS CANVAS SHOES FOR ALL Sneakers For Men',
 'Premium quality Sneakers For Men',
 'Standard High Quality Sneakers For Men',
 "Men's Casual Sports Training Fashion Trendy Shoes Sneak...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'STYLISH MENS BLACK TRENDY SNEAKER FOR MENS Sneakers For...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 '516 Trendy Star Perfect Sneakers For Men',
 'STYLISH SNEAKERS CANVAS SHOES FOR ALL Sneakers For Men',
 'Premium quality Sneakers For Men',
 'Standard High Quality Sneakers For Men',
 "Men's Casual Sports Training Fashion Trendy Shoes Sneak...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'STYLISH MENS BLACK TRENDY SNEAKER FOR MENS Sneakers For...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 '516 Trendy Star Perfect Sneakers For Men',
 'STYLISH SNEAKERS CANVAS SHOES FOR ALL Sneakers For Men',
 'Premium quality Sneakers For Men',
 'Standard High Quality Sneakers For Men',
 "Men's Casual Sports Training Fashion Trendy Shoes Sneak...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'STYLISH MENS BLACK TRENDY SNEAKER FOR MENS Sneakers For...',
 'Sneakers For Men',
 'Sneakers For Men']

In [225]:
# So we will run a loop to iterate over the tags extracted and to click on next page
for i in range(10):
    print('Scraping page',i+1)
    price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for r in price_tags:
        Price.append(r.text)
    next_button = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)
Price[0:100]

Scraping page 1
Scraping page 2
Scraping page 3
Scraping page 4
Scraping page 5
Scraping page 6
Scraping page 7
Scraping page 8
Scraping page 9
Scraping page 10

['₹720',
 '₹680',
 '₹299',
 '₹319',
 '₹499',
 '₹198',
 '₹259',
 '₹749',
 '₹424',
 '₹249',
 '₹299',
 '₹499',
 '₹249',
 '₹471',
 '₹549',
 '₹419',
 '₹474',
 '₹249',
 '₹615',
 '₹3,499',
 '₹398',
 '₹319',
 '₹384',
 '₹549',
 '₹351',
 '₹549',
 '₹397',
 '₹2,545',
 '₹471',
 '₹351',
 '₹499',
 '₹899',
 '₹1,799',
 '₹649',
 '₹319',
 '₹720',
 '₹649',
 '₹198',
 '₹449',
 '₹499',
 '₹449',
 '₹299',
 '₹599',
 '₹4,796',
 '₹249',
 '₹199',
 '₹299',
 '₹1,612',
 '₹348',
 '₹616',
 '₹539',
 '₹1,649',
 '₹449',
 '₹351',
 '₹424',
 '₹1,928',
 '₹449',
 '₹429',
 '₹549',
 '₹1,599',
 '₹599',
 '₹549',
 '₹539',
 '₹1,249',
 '₹474',
 '₹263',
 '₹648',
 '₹1,259',
 '₹399',
 '₹599',
 '₹323',
 '₹351',
 '₹351',
 '₹189',
 '₹259',
 '₹474',
 '₹499',
 '₹249',
 '₹720',
 '₹499',
 '₹720',
 '₹680',
 '₹299',
 '₹319',
 '₹499',
 '₹198',
 '₹259',
 '₹749',
 '₹424',
 '₹249',
 '₹299',
 '₹999',
 '₹249',
 '₹471',
 '₹549',
 '₹499',
 '₹474',
 '₹249',
 '₹615',
 '₹298']

In [226]:
# So we will run a loop to iterate over the tags extracted and to click on next page
for i in range(10):
    print('Scraping page',i+1)
    discount_tags = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for r in discount_tags:
        Discount.append(r.text)
    next_button = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)
Discount[0:100]

Scraping page 1
Scraping page 2
Scraping page 3
Scraping page 4
Scraping page 5
Scraping page 6
Scraping page 7
Scraping page 8
Scraping page 9
Scraping page 10

['26% off',
 '31% off',
 '54% off',
 '68% off',
 '66% off',
 '80% off',
 '67% off',
 '42% off',
 '57% off',
 '50% off',
 '76% off',
 '50% off',
 '50% off',
 '52% off',
 '72% off',
 '50% off',
 '52% off',
 '50% off',
 '73% off',
 '60% off',
 '68% off',
 '61% off',
 '45% off',
 '45% off',
 '64% off',
 '80% off',
 '70% off',
 '72% off',
 '52% off',
 '85% off',
 '33% off',
 '40% off',
 '56% off',
 '84% off',
 '55% off',
 '59% off',
 '66% off',
 '55% off',
 '27% off',
 '62% off',
 '40% off',
 '50% off',
 '56% off',
 '60% off',
 '76% off',
 '38% off',
 '59% off',
 '73% off',
 '46% off',
 '10% off',
 '58% off',
 '64% off',
 '57% off',
 '65% off',
 '50% off',
 '57% off',
 '69% off',
 '63% off',
 '56% off',
 '50% off',
 '46% off',
 '52% off',
 '45% off',
 '56% off',
 '67% off',
 '60% off',
 '39% off',
 '50% off',
 '59% off',
 '64% off',
 '64% off',
 '68% off',
 '66% off',
 '50% off',
 '74% off',
 '52% off',
 '26% off',
 '66% off',
 '55% off',
 '26% off',
 '31% off',
 '54% off',
 '68% off',
 '66% off',
 '80% off',
 '67% off',
 '42% off',
 '57% off',
 '50% off',
 '76% off',
 '50% off',
 '50% off',
 '52% off',
 '72% off',
 '50% off',
 '52% off',
 '50% off',
 '73% off',
 '70% off',
 '60% off']

In [227]:
# Building data frame
sneakers = pd.DataFrame({})
sneakers['Brand']=Brand[0:100]
sneakers['Product_description']=Product_Description[0:100]
sneakers['Price']=Price[0:100]
sneakers['Discount']=Discount[0:100]

In [228]:
sneakers

,Brand,Product_description,Price,Discount
0,RapidBox,"Polarized, Riding Glasses, Night Vision Sports...",₹720,26% off
1,RapidBox,UV Protection Wayfarer Sunglasses (Free Size),₹680,31% off
2,D-SNEAKERZ,UV Protection Rectangular Sunglasses (55),₹299,54% off
3,aadi,"Mirrored, Riding Glasses, UV Protection Sports...",₹319,68% off
4,corsac,Mirrored Aviator Sunglasses (55),₹499,66% off
...,...,...,...,...
95,aRICS,UV Protection Wayfarer Sunglasses (Free Size),₹499,52% off
96,Labbin,UV Protection Round Sunglasses (Free Size),₹474,50% off
97,World Wear Footwear,"Mirrored, UV Protection Aviator Sunglasses (58)",₹249,73% off
98,Chevit,UV Protection Retro Square Sunglasses (Free Size),₹615,70% off
99,andD,"Polarized, UV Protection Round Sunglasses (52)",₹298,60% off

# Ans7)Scrape data for first 100 shoes you find when you visit myntra.com, Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”,

In [262]:
# connect to the web driver

driver = webdriver.Chrome(r'C:\Users\Surjit Singh Kadian\Downloads\chromedriver_win32\chromedriver.exe')

# load the webpage

driver.get('https://www.myntra.com/shoes')

time.sleep(2)

# to maximize the window

driver.maximize_window()

In [263]:
# send the input to the webpage to filter by pricing

filter_price_range = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
filter_price_range.click()

time.sleep(2)

In [264]:
# scrape the data by color wise by filter option
filter_color = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
filter_color.click()

In [270]:
# empty list
Brand = []
Shoe_description = []
Price = []

In [283]:
# So we will run a loop to iterate over the tags extracted and to click on next page
for i in range(10):
    print('Scraping page',i+1)
    brand_tags = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for r in brand_tags:
        Brand.append(r.text)
    next_button = driver.find_element_by_xpath('//li[@class="pagination-next"]')
    next_button.click()
    time.sleep(2)
Brand[0:100]

Scraping page 1
Scraping page 2
Scraping page 3
Scraping page 4
Scraping page 5
Scraping page 6
Scraping page 7
Scraping page 8
Scraping page 9
Scraping page 10

['ADIDAS',
 'Hush Puppies',
 'ADIDAS',
 'Puma',
 'Skechers',
 'ROSSO BRUNELLO',
 'ECCO',
 'Saint G',
 'ALDO',
 'Clarks',
 'Cole Haan',
 'ADIDAS',
 'Birkenstock',
 'ECCO',
 'Geox',
 'ROSSO BRUNELLO',
 'ECCO',
 'Birkenstock',
 'ECCO',
 'ECCO',
 'ECCO',
 'ECCO',
 'ECCO',
 'Cobblerz',
 'Birkenstock',
 'Birkenstock',
 'Pavers England',
 'Geox',
 'Saint G',
 'Geox',
 'ALDO',
 'Kenneth Cole',
 'Kenneth Cole',
 'Geox',
 'Cole Haan',
 'ALDO',
 'Geox',
 'Geox',
 'Geox',
 'Nike',
 'ADIDAS',
 'ASICS',
 'ROSSO BRUNELLO',
 'Clarks',
 'Puma',
 'Birkenstock',
 'Onitsuka Tiger',
 'ALDO',
 'ALDO',
 'Clarks',
 'Heel & Buckle London',
 'UNDER ARMOUR',
 'ECCO',
 'ALDO',
 'Saint G',
 'Kenneth Cole',
 'ROSSO BRUNELLO',
 'ECCO',
 'ALDO',
 'Saint G',
 'Puma',
 'ECCO',
 'ECCO',
 'ECCO',
 'ECCO',
 'ECCO',
 'Regal',
 'Birkenstock',
 'Cobblerz',
 'Kenkoh',
 'ECCO',
 'ECCO',
 'ECCO',
 'ROSSO BRUNELLO',
 'Bugatti',
 'Tommy Hilfiger',
 'Birkenstock',
 'Tommy Hilfiger',
 'Onitsuka Tiger',
 'Geox',
 'Cole Haan',
 'Heel & Buckle London',
 'Onitsuka Tiger',
 'Bugatti',
 'DAVINCHI',
 'ALDO',
 'ALDO',
 'Nike',
 'ADIDAS Originals',
 'PUMA Motorsport',
 'Clarks',
 'Nike',
 'Onitsuka Tiger',
 'PUMA Motorsport',
 'ROSSO BRUNELLO',
 'PUMA Motorsport',
 'ROSSO BRUNELLO',
 'Clarks',
 'Skechers',
 'Puma']

In [272]:
# So we will run a loop to iterate over the tags extracted and to click on next page
for i in range(10):
    print('Scraping page',i+1)
    shoe_tags = driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for r in shoe_tags:
        Shoe_description.append(r.text)
    next_button = driver.find_element_by_xpath('//li[@class="pagination-next"]')
    next_button.click()
    time.sleep(2)
Shoe_description[0:100]

Scraping page 1
Scraping page 2
Scraping page 3
Scraping page 4
Scraping page 5
Scraping page 6
Scraping page 7
Scraping page 8
Scraping page 9
Scraping page 10

['Men Leather Driving Shoes',
 'Men Max Cushioning Running',
 'Men Printed Sneakers',
 'Men FACET OUTDRY Trekking Shoe',
 'Men Woven Design Sneakers',
 'Men Dropset Training Shoes',
 'Men Walking Shoes',
 'Unisex Ferrari IONSpeed',
 'Men Colourblocked RS-Z Core',
 'Men Solid Leather Formal Slip-Ons',
 'Men Leather Loafers',
 'Ferrari X-Ray Speed Sneakers',
 'Men Sl20.3 Running Shoes',
 'Men Sky Vault Walking Shoes',
 'Eternity Nitro Running Shoes',
 'Electrify Nitro Running Shoes',
 'Mirage Sport Hacked Sneakers',
 'Men Deviate Nitro Shoes',
 'Men Solid Sneakers',
 'Men Solid Leather Formal Loafers',
 'Men Leather Derbys',
 'Men Golf Shoes',
 'Men Leather Driving Shoes',
 'Unisex Ferrari Drift Cat Delta',
 'Women Kosmo Rider DC5 Sneakers',
 'Men Solar Glide 5 Running Shoe',
 'Men Formal Derbys',
 'Men Black Formal Derby Shoes',
 'Men Air Max Dawn Sneakers',
 'Men Solid Leather Formal Slip-Ons',
 'Men Solid Formal Slip-Ons',
 'Men Solid Leather Formal Derbys',
 'Men Flexi Sneakers',
 'Men Leather Sneakers',
 'Men AIR MAX PRE-DAY Sneakers',
 'Men Solid Retropy F2 Sneakers',
 'Men ZenonSpeed Sneakers',
 'Unisex Mercedes F1 R-Cat',
 'Men Textured Loafers',
 'Unisex Ferrari Neo Cat Sneaker',
 'Ferrari R-Cat Machina Sneakers',
 'Blaze of Glory PremiumSneakers',
 'Women Supernova Running Shoes',
 'Women XT FTR Training Shoes',
 'Unisex KING Top FG Shoes',
 'Men Running Shoes',
 'Men Leather Sneakers',
 'Men Basketball Shoes',
 'Men Printed Trekking Shoes',
 'Men Leather Monks',
 'Men Leather Monks',
 'Men Textured Formal Leather Loafers',
 'Men Textile Badminton Shoes',
 'Men Walking Shoes',
 'Women KarlieKlossX9000 Running',
 'Women Dropset Training Shoes',
 'Women Nmd R1 Disney Sneakers',
 'Leather Block Sandals',
 'Women Trekking Shoes',
 'Women Eternity NITRO Shoes',
 'Men Leather Formal Oxfords',
 'Men Leather Chelsea Boots',
 'Men Solid Ozweego Sneakers',
 'Men Textured Leather Formal Slip-On Shoes',
 'Men Mid-Top Chelsea Boots',
 'Men Leather Driving Shoes',
 'Unisex Boston Super Grip Clogs',
 'Leather Stiletto Pumps',
 'Men Leather Driving Shoes',
 'High-Top Block Heeled Boots',
 'Embellished Wedge Sandals',
 'Leather Block Pumps',
 'Women Open Toe Flats',
 'Embellish Mid-Top Heeled Boots',
 'Unisex Ok Basketball MT',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Formal Leather Derby',
 'Men Textured Leather Loafers',
 'Men Textured Leather Loafers',
 'Women Running Shoes',
 'Men Solid Loafers',
 'Men Leather Formal Monks',
 'Women REDMOND V2 TrekkingShoe',
 'Men Leather Formal Loafers',
 'Men Leather Formal Loafers',
 'PEAKFREAK OUTDRY Trekking Shoe',
 'Men Printed Slip-On Sneakers',
 'Men Formal Leather Slip-Ons',
 'Men Textured Leather Loafers',
 'Solid Slip On Shoes',
 'Women Leather Pumps',
 'Women Leather Block Heels',
 'Ustraa black',
 'Men Textured Leather Formal Loafers',
 'Men Solid Leather Formal Loafers',
 'Men Solid Leather Formal Derbys',
 'Men Textured Formal Leather Loafers',
 'Men Black Leather Loafers',
 'Men Training or Gym Shoes',
 'Cabo WP Riding Boots']

In [275]:
# So we will run a loop to iterate over the tags extracted and to click on next page
for i in range(10):
    print('Scraping page',i+1)
    price_tags = driver.find_elements_by_xpath('//div[@class="product-price"]')
    for r in price_tags:
        Price.append(r.text)
    next_button = driver.find_element_by_xpath('//li[@class="pagination-next"]')
    next_button.click()
    time.sleep(2)
Price[0:100]

Scraping page 1
Scraping page 2
Scraping page 3
Scraping page 4
Scraping page 5
Scraping page 6
Scraping page 7
Scraping page 8
Scraping page 9
Scraping page 10

['Rs. 8999Rs. 11999(25% OFF)',
 'Rs. 7999',
 'Rs. 8399Rs. 13999(40% OFF)',
 'Rs. 7499',
 'Rs. 7599Rs. 9499(20% OFF)',
 'Rs. 8999',
 'Rs. 10999',
 'Rs. 11500',
 'Rs. 10999',
 'Rs. 7999',
 'Rs. 12999',
 'Rs. 8999',
 'Rs. 8490',
 'Rs. 13999',
 'Rs. 11999',
 'Rs. 10999',
 'Rs. 10999',
 'Rs. 9990',
 'Rs. 9749Rs. 12999(25% OFF)',
 'Rs. 10999',
 'Rs. 11999',
 'Rs. 8999Rs. 11999(25% OFF)',
 'Rs. 10499Rs. 13999(25% OFF)',
 'Rs. 8999Rs. 9999(Rs. 1000 OFF)',
 'Rs. 8490',
 'Rs. 11990',
 'Rs. 10999',
 'Rs. 7999',
 'Rs. 9500',
 'Rs. 11999',
 'Rs. 10999Rs. 21999(50% OFF)',
 'Rs. 8393Rs. 11990(Rs. 3597 OFF)',
 'Rs. 8154Rs. 13590(40% OFF)',
 'Rs. 9990',
 'Rs. 11999',
 'Rs. 10999',
 'Rs. 9999',
 'Rs. 12999',
 'Rs. 11999',
 'Rs. 8495Rs. 9995(15% OFF)',
 'Rs. 8399Rs. 13999(40% OFF)',
 'Rs. 7199Rs. 11999(40% OFF)',
 'Rs. 11999',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 8490',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 8499Rs. 16999(50% OFF)',
 'Rs. 7999',
 'Rs. 9093Rs. 12990(30% OFF)',
 'Rs. 10999',
 'Rs. 13999',
 'Rs. 9599Rs. 15999(40% OFF)',
 'Rs. 8900',
 'Rs. 7495Rs. 14990(50% OFF)',
 'Rs. 13999',
 'Rs. 11999',
 'Rs. 9999',
 'Rs. 9500',
 'Rs. 7499',
 'Rs. 12999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 13999',
 'Rs. 7992Rs. 9990(20% OFF)',
 'Rs. 8990',
 'Rs. 8999Rs. 9999(Rs. 1000 OFF)',
 'Rs. 10400',
 'Rs. 10999',
 'Rs. 11999',
 'Rs. 7999',
 'Rs. 12999',
 'Rs. 9999',
 'Rs. 7599',
 'Rs. 13490',
 'Rs. 7599',
 'Rs. 9999',
 'Rs. 12490',
 'Rs. 12999',
 'Rs. 7794Rs. 12990(40% OFF)',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 8490',
 'Rs. 11999',
 'Rs. 10999',
 'Rs. 8725Rs. 9695(10% OFF)',
 'Rs. 11199Rs. 13999(20% OFF)',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 8716Rs. 10895(20% OFF)',
 'Rs. 8999',
 'Rs. 8449Rs. 12999(35% OFF)',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7999',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 7499',
 'Rs. 7599Rs. 9499(20% OFF)',
 'Rs. 7199Rs. 8999(20% OFF)']

In [282]:
# Building data frame
Shoes = pd.DataFrame({})
Shoes['Brand']=Brand[0:100]
Shoes['Shoe_description']=Shoe_description[0:100]
Shoes['Price']=Price[0:100]

In [284]:
Shoes

,Brand,Shoe_description,Price
0,ADIDAS,Men Leather Driving Shoes,Rs. 8999Rs. 11999(25% OFF)
1,Hush Puppies,Men Max Cushioning Running,Rs. 7999
2,ADIDAS,Men Printed Sneakers,Rs. 8399Rs. 13999(40% OFF)
3,Puma,Men FACET OUTDRY Trekking Shoe,Rs. 7499
4,Skechers,Men Woven Design Sneakers,Rs. 7599Rs. 9499(20% OFF)
...,...,...,...
95,PUMA Motorsport,Men Solid Leather Formal Derbys,Rs. 7999
96,ROSSO BRUNELLO,Men Textured Formal Leather Loafers,Rs. 7699Rs. 10999(30% OFF)
97,Clarks,Men Black Leather Loafers,Rs. 7499
98,Skechers,Men Training or Gym Shoes,Rs. 7599Rs. 9499(20% OFF)
99,Puma,Cabo WP Riding Boots,Rs. 7199Rs. 8999(20% OFF)

# Ans8)Scrape data for first 10 laptops and you find when you visit amazone.in. Set CPU Type filter to “Intel Core i7” and “Intel Core i9

In [17]:
# connect to the web driver

driver = webdriver.Chrome(r'C:\Users\Surjit Singh Kadian\Downloads\chromedriver_win32\chromedriver.exe')

# load the webpage

driver.get('https://www.amazon.in')

time.sleep(2)

# to maximize the window

driver.maximize_window()

In [18]:
# finding elements for laptops search
search_field = driver.find_element_by_id("twotabsearchtextbox")
search_field.send_keys('Laptop')

time.sleep(2)

In [19]:
# to click on search button for given input
search_button = driver.find_element_by_xpath('//span[@id="nav-search-submit-text"]')
search_button.click()

In [20]:
# to scrape the data for core i7 input
i7_cpu = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[11]/span/a/span')
i7_cpu.click()

In [21]:
# empty list
Title = []
Rating = []
Price = []

In [22]:
# So we will run a loop to iterate over the tags extracted
title_tags = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
title_tags[0:10]

for i in title_tags:
    title = i.text
    Title.append(title)
    
Title[0:10]

['Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7 EvoTM 15.6 inch Touchscreen 2-in-1 AMOLED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MSO Home & Student 2021/Graphite/1.41Kg), NP950QED-KA1IN',
 'Samsung Galaxy Book2 360 Intel 12th Gen i7 EvoTM  33.78cm (13.3") AMOLED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office Home & Student 2021/Graphite/1.16Kg), NP730QED-KA1IN',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'HP Pavilion 14, 11th Gen Intel Core i7-16GB RAM/1TB SSD 14 inch(35.6 cm) Laptop/Intel Iris Xe Graphics/Backlit Keyboard/Alexa/B&O Audio/Fast Charge/FPR/Win 11/MS Office, 14-dv1029TU,Natural Silver',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/B&O/Win 11/FPR/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa/MS Office/Silver/1.52Kg) 14-dy1047TU',
 'LG Gram 14 Intel Evo 11th Gen Core i7 14 inches Ultralight Laptop (16 GB RAM, 512 GB SSD, Windows 10, Iris Xe Graphics Thunderbolt 4, USC -Cx2 (with Power), 0.999kg, 14Z90P, Black)',
 'HP Pavilion 11th Gen Intel Core i7 Processor 15.6 inches FHD Gaming Laptop (16GB/512GB SSD/Windows 11/NVIDIA RTX 3050 Graphics/MS Office/ Shadow Black & Ultra Violet/2.23Kg), 15-dk2096TX',
 'LG Gram Intel Evo 11th Gen Core i7 17 inches Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 17Z90P-G.AH85A2, Black)',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, GeForce RTX 3050 4GB Graphics, Gaming Laptop (8GB/512GB SSD/Windows 10/Eclipse Gray/2.3 Kg), FX566HC-HN093T']

In [26]:
# So we will run a loop to iterate over the tags extracted
rating_tags = driver.find_elements_by_xpath('//i[@class="a-icon a-icon-star-small a-star-small-5 aok-align-bottom"]')
rating_tags[0:10]

for i in rating_tags:
    rating = i.text
    Rating.append(rating)
    
Rating[0:10]

['', '', '', '', '', '', '', '', '', '']

In [23]:
price_tags = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
price_tags[0:10]

for i in price_tags:
    price = i.text
    Price.append(price)

Price[0:10]

['1,29,990',
 '1,05,990',
 '90,990',
 '57,310',
 '86,990',
 '86,990',
 '85,999',
 '89,990',
 '93,552',
 '96,990']

In [27]:
# Building data frame
laptops = pd.DataFrame({})
laptops['Title']=Title[0:10]
laptops['Rating']=Rating[0:10]
laptops['Price']=Price[0:10]

In [28]:
laptops

                                               Title Rating     Price
0  Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7...         1,29,990
1  Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...         1,05,990
2  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....           90,990
3  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...           57,310
4  HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...           86,990
5  HP Pavilion x360 11th Gen Intel Core i7 14 inc...           86,990
6  LG Gram 14 Intel Evo 11th Gen Core i7 14 inche...           85,999
7  HP Pavilion 11th Gen Intel Core i7 Processor 1...           89,990
8  LG Gram Intel Evo 11th Gen Core i7 17 inches U...           93,552
9  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...           96,990

# Ans9)Scrape data for first 10 job results for Data Scientist Designation in Noidalocation. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [473]:
# connect to the web driver

driver = webdriver.Chrome(r'C:\Users\Surjit Singh Kadian\Downloads\chromedriver_win32\chromedriver.exe')

# load the webpage

driver.get('https://www.ambitionbox.com/')

time.sleep(2)

# to maximize the window

driver.maximize_window()

In [474]:
# to click on search bar
search_field = driver.find_element_by_xpath('//a[@class="link jobs"]')
search_field.click()

In [475]:
# finding element for job search bar
jobs_input = driver.find_element_by_xpath('//input[@class="input tt-input"]')
jobs_input.send_keys('Data Scientist')

In [476]:
# to click on search option
search_input = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
search_input.click()

In [477]:
# finding element for job search by location
search_location = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
search_location.click()

In [478]:
# location search input
search_location_input = driver.find_element_by_xpath('//input[@placeholder="Search locations"]')
search_location_input.send_keys('Noida')

In [480]:
# to click on search option to find particular job location
search_box = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
search_box.click()

In [482]:
# empty list
company_names = []
job_posted = []
company_rating = []

In [483]:
# So we will run a loop to iterate over the tags extracted
company_tags = driver.find_elements_by_xpath('//p[@class="company body-medium"]')
company_tags[0:10]

for i in company_tags:
    company = i.text
    company_names.append(company)
    
company_names[0:10]

['GENPACT India Private Limited',
 'GENPACT India Private Limited',
 'Tech Mahindra Ltd',
 'GENPACT India Private Limited',
 'HCL Technologies',
 'Bristlecone India Limited',
 'Zyoin',
 'Newgen Software Technologies Ltd.',
 'Pitney Bowes India Pvt Ltd',
 'JK Technosoft Ltd']

In [494]:
# So we will run a loop to iterate over the tags extracted
job_tags = driver.find_elements_by_xpath('//span[@class="body-small-l"]')
job_tags[0:10]

for i in job_tags:
    post = i.text
    job_posted.append(post)
    
job_posted[0:20]

['1d ago',
 '6d ago',
 '20d ago',
 '23d ago',
 '27d ago',
 '2d ago',
 '6d ago',
 '8d ago',
 '1mon ago',
 '16d ago',
 'via naukri.com',
 '1d ago',
 'via naukri.com',
 '6d ago',
 'via naukri.com',
 '20d ago',
 'via naukri.com',
 '23d ago',
 'via naukri.com',
 '27d ago']

In [495]:
job_posted[0:10]

['1d ago',
 '6d ago',
 '20d ago',
 '23d ago',
 '27d ago',
 '2d ago',
 '6d ago',
 '8d ago',
 '1mon ago',
 '16d ago']

In [496]:
# So we will run a loop to iterate over the tags extracted
rating_tags = driver.find_elements_by_xpath('//span[@class="body-small"]')
rating_tags[0:10]

for i in rating_tags:
    rating = i.text
    company_rating.append(rating)
    
company_rating[0:10]

['4.0', '4.0', '3.7', '4.0', '3.8', '3.8', '4.1', '3.5', '4.2', '3.6']

In [498]:
# Building data frame
jobs = pd.DataFrame({})
jobs['Company_names']=company_names[0:10]
jobs['Job_posted_date']=job_posted[0:10]
jobs['Company_rating']=company_rating[0:10]

In [499]:
jobs

                       Company_names Job_posted_date Company_rating
0      GENPACT India Private Limited          1d ago            4.0
1      GENPACT India Private Limited          6d ago            4.0
2                  Tech Mahindra Ltd         20d ago            3.7
3      GENPACT India Private Limited         23d ago            4.0
4                   HCL Technologies         27d ago            3.8
5          Bristlecone India Limited          2d ago            3.8
6                              Zyoin          6d ago            4.1
7  Newgen Software Technologies Ltd.          8d ago            3.5
8         Pitney Bowes India Pvt Ltd        1mon ago            4.2
9                  JK Technosoft Ltd         16d ago            3.6

# Ans10)Scrape the salary data for Data Scientist designation.You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [500]:
# connect to the web driver

driver = webdriver.Chrome(r'C:\Users\Surjit Singh Kadian\Downloads\chromedriver_win32\chromedriver.exe')

# load the webpage

driver.get('https://www.ambitionbox.com/')

time.sleep(2)

# to maximize the window

driver.maximize_window()

In [501]:
# to click on search option to find given input
search_field = driver.find_element_by_xpath('//a[@class="link salaries"]')  
search_field.click()

In [519]:
# finding elements for job search
jobs_input = driver.find_element_by_xpath('//input[@id="jobProfileSearchbox"]')
jobs_input.send_keys('Data Scientist')

In [540]:
# empty list
company_name = []
average_salary = []
minimum_salary = []
maximum_salary = []
experience_required = []

In [554]:
# So we will run a loop to iterate over the tags extracted
company_tags = driver.find_elements_by_xpath(('//a[@class="name"]'))
company_tags[0:10]

for i in company_tags:
    company = i.text
    company_name.append(company)
    
company_name[0:10]

['Walmart\nbased on 11 salaries',
 'Ab Inbev\nbased on 31 salaries',
 'Reliance Jio\nbased on 10 salaries',
 'ZS\nbased on 15 salaries',
 'Optum\nbased on 28 salaries',
 'Fractal Analytics\nbased on 81 salaries',
 'Tiger Analytics\nbased on 46 salaries',
 'UnitedHealth\nbased on 53 salaries',
 'Verizon\nbased on 14 salaries',
 'Ganit Business Solutions\nbased on 13 salaries']

In [555]:
# So we will run a loop to iterate over the tags extracted
average_salary_tags = driver.find_elements_by_xpath(('//div[@class="average-indicator-wrapper"]'))
average_salary_tags[0:10]

for i in average_salary_tags:
    average = i.text
    average_salary.append(average)

average_salary[0:10]

['₹ 29.7L',
 '₹ 20.5L',
 '₹ 18.9L',
 '₹ 15.9L',
 '₹ 15.4L',
 '₹ 15.1L',
 '₹ 14.8L',
 '₹ 14.0L',
 '₹ 12.7L',
 '₹ 12.4L']

In [556]:
# So we will run a loop to iterate over the tags extracted
experience_tags = driver.find_elements_by_xpath(('//div[@class="salaries sbold-list-header"]'))
experience_tags[0:10]

for i in experience_tags:
    experience = i.text
    experience_required.append(experience)

experience_required[0:10]

['Data Scientist\n . \n3 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n2 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n4 yrs exp']

In [557]:
# So we will run a loop to iterate over the tags extracted
minimum_salary_tags = driver.find_elements_by_xpath(('//div[@class="value body-medium"]'))
minimum_salary_tags[0:10]

for i in minimum_salary_tags:
    salary = i.text
    minimum_salary.append(salary)

minimum_salary[0:10]

['₹ 25.0L',
 '₹ 35.0L',
 '₹ 15.0L',
 '₹ 25.5L',
 '₹ 5.6L',
 '₹ 26.2L',
 '₹ 9.8L',
 '₹ 20.0L',
 '₹ 11.0L',
 '₹ 22.4L']

In [558]:
# So we will run a loop to iterate over the tags extracted
maximum_salary_tags = driver.find_elements_by_xpath(('/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[2]/div/div[2]/div[2]'))
maximum_salary_tags[0:10]

for i in maximum_salary_tags:
    salary = i.text
    maximum_salary.append(salary)

maximum_salary[0:10]

['₹ 25.0L',
 '₹ 35.0L',
 '₹ 15.0L',
 '₹ 25.5L',
 '₹ 5.6L',
 '₹ 26.2L',
 '₹ 9.8L',
 '₹ 20.0L',
 '₹ 11.0L',
 '₹ 22.4L']

In [559]:
# Building data frame
company = pd.DataFrame({})
company['Company_names']=company_names[0:10]
company['Average_salary']=average_salary[0:10]
company['Minimum_salary']=minimum_salary[0:10]
company['Maximum_salary']=maximum_salary[0:10]
company['Experience_required']=experience_required[0:10]

In [560]:
company

,Company_names,Average_salary,Minimum_salary,Maximum_salary,Experience_required
0,GENPACT India Private Limited,₹ 29.7L,₹ 25.0L,₹ 25.0L,Data Scientist\n . \n3 yrs exp
1,GENPACT India Private Limited,₹ 20.5L,₹ 35.0L,₹ 35.0L,Data Scientist\n . \n3-4 yrs exp
2,Tech Mahindra Ltd,₹ 18.9L,₹ 15.0L,₹ 15.0L,Data Scientist\n . \n4 yrs exp
3,GENPACT India Private Limited,₹ 15.9L,₹ 25.5L,₹ 25.5L,Data Scientist\n . \n2 yrs exp
4,HCL Technologies,₹ 15.4L,₹ 5.6L,₹ 5.6L,Data Scientist\n . \n3-4 yrs exp
5,Bristlecone India Limited,₹ 15.1L,₹ 26.2L,₹ 26.2L,Data Scientist\n . \n2-4 yrs exp
6,Zyoin,₹ 14.8L,₹ 9.8L,₹ 9.8L,Data Scientist\n . \n2-4 yrs exp
7,Newgen Software Technologies Ltd.,₹ 14.0L,₹ 20.0L,₹ 20.0L,Data Scientist\n . \n2-4 yrs exp
8,Pitney Bowes India Pvt Ltd,₹ 12.7L,₹ 11.0L,₹ 11.0L,Data Scientist\n . \n4 yrs exp
9,JK Technosoft Ltd,₹ 12.4L,₹ 22.4L,₹ 22.4L,Data Scientist\n . \n4 yrs exp