In [120]:
# import required libraries
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import requests
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')

Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.

In [123]:
#get the web driver
driver=webdriver.Chrome(r"C:\Users\Surjit Singh Kadian\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [9]:
# Getting the webpage of mentioned url 
url=('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.get(url)

In [11]:
driver.maximize_window()

In [12]:
# Creating empty list for storing data after scraping

Rank = []
Name = []
Artist = []
UploadDate = []
Views = []

In [13]:
# Scraping Rank of the videos
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")

Rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [14]:
# Scraoing Name of the videos
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")

Name

['"Baby Shark Dance"[3]',
 '"Despacito"[6]',
 '"Johny Johny Yes Papa"[12]',
 '"Shape of You"[13]',
 '"See You Again"[15]',
 '"Bath Song"[20]',
 '"Phonics Song with Two Words"[21]',
 '"Uptown Funk"[22]',
 '"Learning Colors – Colorful Eggs on a Farm"[23]',
 '"Masha and the Bear – Recipe for Disaster"[24]',
 '"Gangnam Style"[25]',
 '"Wheels on the Bus"[30]',
 '"Dame Tu Cosita"[31]',
 '"Sugar"[32]',
 '"Roar"[33]',
 '"Counting Stars"[34]',
 '"Sorry"[35]',
 '"Thinking Out Loud"[36]',
 '"Axel F"[37]',
 '"Girls Like You"[38]',
 '"Faded"[39]',
 '"Dark Horse"[40]',
 '"Baa Baa Black Sheep"[41]',
 '"Let Her Go"[42]',
 '"Bailando"[43]',
 '"Lean On"[44]',
 '"Shake It Off"[45]',
 '"Perfect"[46]',
 '"Waka Waka (This Time for Africa)"[47]',
 '"Mi Gente"[48]']

In [15]:
# Scraping Artist of the video
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("_")
Artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon – Nursery Rhymes',
 'ChuChu TV',
 'Mark Ronson',
 'Miroshka TV',
 'Get Movies',
 'Psy',
 'Cocomelon – Nursery Rhymes',
 'El Chombo',
 'Maroon 5',
 'Katy Perry',
 'OneRepublic',
 'Justin Bieber',
 'Ed Sheeran',
 'Crazy Frog',
 'Maroon 5',
 'Alan Walker',
 'Katy Perry',
 'Cocomelon – Nursery Rhymes',
 'Passenger',
 'Enrique Iglesias',
 'Major Lazer',
 'Taylor Swift',
 'Ed Sheeran',
 'Shakira',
 'J Balvin']

In [16]:
# Scraping Uploaded date of the video
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        UploadDate.append(i.text)
except NoSuchElementException:
    UploadDate.append("_")

UploadDate

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'April 6, 2015',
 'May 2, 2018',
 'March 6, 2014',
 'November 19, 2014',
 'February 27, 2018',
 'January 31, 2012',
 'July 15, 2012',
 'May 24, 2018',
 'April 5, 2018',
 'January 14, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'October 22, 2015',
 'October 7, 2014',
 'June 16, 2009',
 'May 31, 2018',
 'December 3, 2015',
 'February 20, 2014',
 'June 25, 2018',
 'July 25, 2012',
 'April 11, 2014',
 'March 22, 2015',
 'August 18, 2014',
 'November 9, 2017',
 'June 4, 2010',
 'June 29, 2017']

In [17]:
# Scraping Views of videos
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("_")
Views

['10.72',
 '7.85',
 '6.36',
 '5.72',
 '5.52',
 '5.40',
 '4.64',
 '4.58',
 '4.57',
 '4.49',
 '4.43',
 '4.08',
 '3.94',
 '3.69',
 '3.58',
 '3.58',
 '3.54',
 '3.45',
 '3.36',
 '3.29',
 '3.28',
 '3.27',
 '3.24',
 '3.23',
 '3.21',
 '3.21',
 '3.17',
 '3.17',
 '3.14',
 '3.08']

In [18]:
# Creating DataFrame from scraped data
Wiki = pd.DataFrame({})
Wiki['Rank']=Rank
Wiki['Name']=Name
Wiki['Artist']=Artist
Wiki['Upload Date']=UploadDate
Wiki['Views']=Views

# Removing stray numbers from Name column
Wiki.Name = Wiki.Name.apply(lambda x:x[:-4].strip('"'))
Wiki

,Rank,Name,Artist,Upload Date,Views
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.72
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.85
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.36
3,4.,Shape of You,Ed Sheeran,"January 30, 2017",5.72
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.52
5,6.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",5.40
6,7.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",4.64
7,8.,Uptown Funk,Mark Ronson,"November 19, 2014",4.58
8,9.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.57
9,10.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.49
10,11.,Gangnam Style,Psy,"July 15, 2012",4.43
11,12.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",4.08
12,13.,Dame Tu Cosita,El Chombo,"April 5, 2018",3.94
13,14.,Sugar,Maroon 5,"January 14, 2015",3.69
14,15.,Roar,Katy Perry,"September 5, 2013",3.58
15,16.,Counting Stars,OneRepublic,"May 31, 2013",3.58
16,17.,Sorry,Justin Bieber,"October 22, 2015",3.54
17,18.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.45
18,19.,Axel F,Crazy Frog,"June 16, 2009",3.36
19,20.,Girls Like You,Maroon 5,"May 31, 2018",3.29
20,21.,Faded,Alan Walker,"December 3, 2015",3.28
21,22.,Dark Horse,Katy Perry,"February 20, 2014",3.27
22,23.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.24
23,24.,Let Her Go,Passenger,"July 25, 2012",3.23
24,25.,Bailando,Enrique Iglesias,"April 11, 2014",3.21
25,26.,Lean On,Major Lazer,"March 22, 2015",3.21
26,27.,Shake It Off,Taylor Swift,"August 18, 2014",3.17
27,28.,Perfect,Ed Sheeran,"November 9, 2017",3.17
28,29.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.14
29,30.,Mi Gente,J Balvin,"June 29, 2017",3.08

Q2. Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1

st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [146]:
# Getting the webpage of mentioned url
url1 = 'https://www.bcci.tv/'              
driver.get(url1)

In [151]:
#Clicking on international, SO that I can reach on the required page, from where I have to extract the data.
international = driver.find_element_by_xpath('//li[@class="nav-item"]/a')  
international.click()

In [152]:
series = []             # Giving the empty list for all the coloumn, what all I want to extract
odi = [] 
date = []
time = []
place = []
     
ser = driver.find_elements_by_xpath('//h5[@class="fix-text"][2]/span')            #Giving the xpath of the required data what I want to extract
od = driver.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]/span[1]')
da = driver.find_elements_by_xpath('//div[@class="match-card-left match-schedule"]')
ti = driver.find_elements_by_xpath('//div[@class="match-card-right match-schedule "]')
pla = driver.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]/span[2]')

for i in ser:
    series.append(i.text)                    # Appending the text data
for j in od:
    odi.append(j.text.replace('-',''))
for k in da:
    date.append(k.text)
for l in ti:
    time.append(l.text)
for m in pla:
    place.append(m.text)
    
print(len(series))            # Printing the length of the all the data what, I have extracted
print(len(odi))
print(len(date))
print(len(time))
print(len(place))

3
3
3
3
3

In [153]:
# Creating DataFrame from scraped data
df = pd.DataFrame({'Match Title':odi,
                   'Series':series,
                   'Place':place,
                   'Date':date,
                   'time':time})
df

,Match Title,Series,Place,Date,time
0,3rd T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",14 JUN 2022,7:00 PM IST
1,4th T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium,",17 JUN 2022,7:00 PM IST
2,5th T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium,",19 JUN 2022,7:00 PM IST

Q3.. Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [27]:
# Getting the webpage of mentioned url 
url=('https://www.guru99.com/')
driver.get(url)

In [28]:
driver.maximize_window()

In [29]:
# Creating empty list
Name = []
Description = []

In [30]:
#Clicking on Selenium button
driver.find_element_by_xpath("//li//a[@title='Selenium']").click()

In [31]:
#Clicking on Exception Handling button
driver.find_element_by_xpath('//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()

In [32]:
#Scraping Name
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]"):
            Name.append(i.text)
Name

['ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException',
 'WebDriverException',
 'ConnectionClosedException',
 'ElementClickInterceptedException',
 'ElementNotInteractableException',
 'ErrorInResponseException',
 'ErrorHandler.UnknownServerException',
 'ImeActivationFailedException',
 'ImeNotAvailableException',
 'InsecureCertificateException',
 'InvalidArgumentException',
 'InvalidCookieDomainException',
 'InvalidCoordinatesException',
 'InvalidElementStateExceptio',
 'InvalidSessionIdException',
 'InvalidSwitchToTargetException',
 'JavascriptException',
 'JsonException',
 'NoSuchAttributeException',
 'MoveTargetOutOfBoundsException',
 'NoSuchContextException',
 'NoSuchCookieException',
 'NotFoundException',
 'RemoteDriverServerException',
 'ScreenshotException',
 'SessionNotCreatedException',
 'UnableToSetCookieException',
 'UnexpectedTagNameException',
 'UnhandledAlertException',
 'UnexpectedAlertPresentException',
 'UnknownMethodException',
 'UnreachableBrowserException',
 'UnsupportedCommandException']

In [33]:
#Scraping Description
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]"):
            Description.append(i.text)
Description

['This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 'Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 'It occurs when command can’t be finished when the element is invalid.',
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 'This occurs when remote WebDriver does n’t send valid commands as expected.']

In [34]:
# creating the dataframe from the scraped data
Selenium=pd.DataFrame({})
Selenium['Exception_Name']=Name
Selenium['Description']=Description
Selenium

,Exception_Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

Q4. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code

In [83]:
#get the web driver
driver=webdriver.Chrome(r"C:\Users\Surjit Singh Kadian\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [84]:
# Getting the webpage of mentioned url 
url=('http://statisticstimes.com/')
driver.get(url)

In [85]:
driver.maximize_window()

In [86]:
economy = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button')       #Giving the Xpath
economy.click()
time.sleep(5)

In [87]:
india = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [88]:
gdp = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp.click()

In [89]:
# Creating empty list
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDPbillion = []

In [90]:
# Scraping Rank
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
Rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [91]:
# Scraping State
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")

In [92]:
State

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands',
 'Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Karnataka',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Telangana',
 'Andhra Pradesh',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Jharkhand',
 'Chhattisgarh',
 'Uttarakhand',
 'Himachal Pradesh',
 'Jammu & Kashmir',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Manipur',
 'Sikkim',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [93]:
# Scraping GSDP at current price (19-20)
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")
GSDP1

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 '-',
 '26,503',
 '-',
 '-',
 '1,659,210',
 '1,495,758',
 '1,476,983',
 '-',
 '1,150,711',
 '916,014',
 '881,873',
 '875,429',
 '827,019',
 '-',
 '779,647',
 '755,790',
 '562,710',
 '517,521',
 '457,757',
 '-',
 '301,242',
 '288,041',
 '-',
 '143,063',
 '-',
 '72,181',
 '50,227',
 '-',
 '34,823',
 '32,833',
 '29,148',
 '28,391',
 '-',
 '-',
 '24,424',
 '-']

In [94]:
# Scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
GSDP2

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-',
 '2,332,992',
 '1,465,361',
 '1,404,761',
 '1,351,553',
 '1,322,936',
 '995,502',
 '845,247',
 '782,370',
 '776,140',
 '737,156',
 '707,542',
 '704,529',
 '666,075',
 '486,776',
 '472,506',
 '428,031',
 '282,782',
 '271,990',
 '266,537',
 '221,871',
 '133,303',
 '129,877',
 '66,060',
 '44,835',
 '37,571',
 '31,415',
 '29,544',
 '25,323',
 '25,141',
 '24,534',
 '22,488',
 '20,947',
 '-']

In [95]:
# Scraping Share (18-19)
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
Share

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-',
 '13.97%',
 '8.77%',
 '8.41%',
 '8.09%',
 '7.92%',
 '5.96%',
 '5.06%',
 '4.68%',
 '4.65%',
 '4.41%',
 '4.24%',
 '4.22%',
 '3.99%',
 '2.91%',
 '2.83%',
 '2.56%',
 '1.69%',
 '1.63%',
 '1.60%',
 '1.33%',
 '0.80%',
 '0.78%',
 '0.40%',
 '0.27%',
 '0.22%',
 '0.19%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.15%',
 '0.13%',
 '0.13%',
 '-']

In [96]:
# Scraping GDP $ billion
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDPbillion.append(i.text)
except NoSuchElementException:
    GDPbillion.append("_")
GDPbillion

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-',
 '-',
 '1,167,776',
 '1,015,735',
 '1,035,131',
 '-',
 '713,376',
 '630,693',
 '594,806',
 '595,605',
 '496,798',
 '-',
 '568,265',
 '514,983',
 '377,276',
 '374,015',
 '344,437',
 '-',
 '218,232',
 '210,837',
 '-',
 '107,171',
 '-',
 '56,810',
 '35,980',
 '-',
 '22,291',
 '23,564',
 '18,549',
 '17,060',
 '-',
 '-',
 '17,797',
 '-']

In [97]:
# Creating DataFrame from the scraped data
GDP = pd.DataFrame({})
GDP['Rank'] = Rank
GDP['State'] = State
GDP['GSDP at current price (19-20)'] = GSDP1
GDP['GSDP at current price (18-19)'] = GSDP2
GDP['Share(18-19)'] = Share
GDP[' GDP($ billion)'] = GDPbillion
GDP

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

Q5: Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [98]:
# Getting the webpage of mentioned url 
url=('https://github.com/')
driver.get(url)

In [99]:
#Getting explore button and clicking on it
explore = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details").click()

In [101]:
#Selecting trending option
trend_url = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
urls = trend_url.get_attribute("href")
driver.get(urls)

In [102]:
#Creating empty list
#Creating empty list
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

In [103]:
#Fetching urls for each repository
repository = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

In [104]:
# Scraping Repository Title data
title = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)
repository_title

['atom / atom',
 'saharmor / dalle-playground',
 'borisdayma / dalle-mini',
 'openai / DALL-E',
 'microsoft / Data-Science-For-Beginners',
 'microsoft / ML-For-Beginners',
 'papers-we-love / papers-we-love',
 'vaxerski / Hyprland',
 'NVlabs / eg3d',
 'microsoft / Web-Dev-For-Beginners',
 'PaperMC / Paper',
 'lapce / lapce',
 'RasaHQ / rasa',
 'CyC2018 / CS-Notes',
 'tvbb / z',
 'ahmedtariq01 / Cloud-DevOps-Learning-Resources',
 'digitalocean / nginxconfig.io',
 'jina-ai / dalle-flow',
 'deepkit / deepkit-framework',
 'shimohq / chinese-programmer-wrong-pronunciation',
 'facebook / folly',
 'fastify / fastify',
 'android / nowinandroid',
 'grafana / loki',
 'ory / kratos']

In [105]:
# Scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(3)
    
        # Scraping Repository Description data
    try:
        desc = driver.find_element_by_xpath("//p[@class='f4 mt-3']")
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
        
    # Scraping Contributors Count data
    try:
        contributor = driver.find_element_by_xpath("//*[contains(text(),'    Contributors ')]")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
        
        
    # Scraping Languages used data
    try:
        for i in driver.find_elements_by_xpath("//span[@class='color-text-primary text-bold mr-1']"):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        Language.append('-')

In [106]:
# Creating DataFrame from scraped data
Github=pd.DataFrame({})
Github['Repository title'] = repository_title
Github['Repository description'] = Description
Github['Contributors count'] = Contributors
Github['Language used'] = Language
Github

,Repository title,Repository description,Contributors count,Language used
0,atom / atom,-,489,[]
1,saharmor / dalle-playground,-,3,[]
2,borisdayma / dalle-mini,-,17,[]
3,openai / DALL-E,-,-,[]
4,microsoft / Data-Science-For-Beginners,-,89,[]
5,microsoft / ML-For-Beginners,-,115,[]
6,papers-we-love / papers-we-love,-,255,[]
7,vaxerski / Hyprland,-,14,[]
8,NVlabs / eg3d,-,2,[]
9,microsoft / Web-Dev-For-Beginners,-,136,[]
10,PaperMC / Paper,-,291,[]
11,lapce / lapce,-,40,[]
12,RasaHQ / rasa,-,461,[]
13,CyC2018 / CS-Notes,-,231,[]
14,tvbb / z,-,-,[]
15,ahmedtariq01 / Cloud-DevOps-Learning-Resources,-,-,[]
16,digitalocean / nginxconfig.io,-,41,[]
17,jina-ai / dalle-flow,-,4,[]
18,deepkit / deepkit-framework,-,14,[]
19,shimohq / chinese-programmer-wrong-pronunciation,-,78,[]
20,facebook / folly,-,665,[]
21,fastify / fastify,-,506,[]
22,android / nowinandroid,-,28,[]
23,grafana / loki,-,539,[]
24,ory / kratos,-,171,[]

Q6. Scrape the details of top 100 songs on billiboard.com.

Url = https:/www.billboard.com/
    
You have to find the following details:
    
A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [114]:
# Getting the webpage of mentioned url 
url=('https://www.billboard.com/')
driver.get(url)

In [115]:
#Clicking on 'hot' button
hot = driver.find_element_by_xpath('//div[@class="lrv-u-flex lrv-u-background-color-white u-height-45"]//li[1]')
hot.click()

In [116]:
songs = []       #Giving the empty list for all the coloumns, what all I want to extract.
artists = []
last = []
peak = []
board = []

song = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]//h3')    #Giving the xpath for all the columns, what all I want to extract.
art = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[1]//span[1]')
las = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[4]')
pea = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[5]')
boa = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[6]')

for i in song:
    songs.append(i.text)
for j in art:
    artists.append(j.text)
for k in las:
    last.append(k.text)
for l in pea:
    peak.append(l.text)
for m in boa:
    board.append(m.text)

print(len(songs))       #Printing the length for all the columns.
print(len(artists))
print(len(last))
print(len(peak))
print(len(board))

100
100
100
100
100

In [117]:
# Creating DataFrame from scraped data
df = pd.DataFrame({'Songs':songs,
                   'Artist':artists,
                   'Last Week Rank':last,
                   'Peak rank':peak,
                   'Weeks on board':board})
df

,Songs,Artist,Last Week Rank,Peak rank,Weeks on board
0,As It Was,Harry Styles,1,1,9
1,First Class,Jack Harlow,2,1,8
2,Wait For U,Future Featuring Drake & Tems,3,1,5
3,About Damn Time,Lizzo,5,4,7
4,Heat Waves,Glass Animals,6,1,72
...,...,...,...,...,...
95,Love You Better,Future,84,12,5
96,Wild Hearts,Keith Urban,-,97,1
97,Last Night Lonely,Jon Pardi,-,98,1
98,7500 OBO,Tim McGraw,-,99,1
99,Until I Found You,Stephen Sanchez,-,100,1

Q7: Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [128]:
#get the web driver
driver=webdriver.Chrome(r"C:\Users\Surjit Singh Kadian\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [129]:
# Getting the webpage of mentioned url 
url6 = 'https://www.naukri.com/data-collection-recruiters'  #Giving the url
driver.get(url6)

In [130]:
driver.maximize_window()

In [131]:
search = driver.find_element_by_xpath('//*[@id="skill"]/div[1]/div[2]/input') #Giving the xpath for the search button
search.clear()
search.send_keys('Data Scientist')              #sending the data to be typed in the search box.
time.sleep(2)
searchh = driver.find_element_by_xpath('//*[@id="qsbFormBtn"]')   #Clicking on the 'Search' button.
searchh.click()

In [132]:
name = []           #Giving the empty list
designation = [] 
company = []
skills = []

nam = driver.find_elements_by_xpath('//div[@class="recInfo"]/div[1]/p/a/span')     #Giving the Xpath for all the columns
desi = driver.find_elements_by_xpath('//div[@class="recInfo"]/div[1]/p/span[1]')
comp = driver.find_elements_by_xpath('//div[@class="recInfo"]/div[1]/p/a[2]')
skill = driver.find_elements_by_xpath('//div[@class="recInfo"]/div[2]')

for i in nam:                  
    name.append(i.text)                                 #Iterating the text data
for j in desi:
    designation.append(j.text)
for k in comp:
    company.append(k.text)
for n in skill:
    skills.append(n.text)

print(len(name))                                #Printing the length of the data
print(len(designation))
print(len(company))
print(len(skills))

50
50
50
50

In [133]:
# Used the concept of BeautifulSoup, So that I can use try and except method, As in selenium try and except was not working properly. 
location=[]            
soup=BeautifulSoup(driver.page_source,'html.parser')      #Gave the page source
l=soup.find_all('div',attrs={'vcard'})                    #Gave the class name and the attribute name
for i in l:
    try:                                         #Used Try and except method
        location.append(i.find('small').text)              #Appending the text data
    except AttributeError :
        location.append("No details available")
print(len(location))

50

In [134]:
# Creating DataFrame from scraped data
df = pd.DataFrame({'Name':name,
                   'Designation':designation,
                   'Company':company,
                   'Skills Needed':skills,
                   'Location':location})
df

,Name,Designation,Company,Skills Needed,Location
0,Tanushree,Lead Recruiter,RecRoots,"UI Developers, Software Engineers, Quality Ass...",Noida
1,sashi bhushan,Senior Specialist,Wipro,"pig, hbase, sas, spss, apache, python, nosql, ...",Bengaluru / Bangalore
2,Bitapi,HR and Operation Manager,Anvaya,"Hadoop, Big Data, Data Scientists, Java, Sprin...",Bengaluru / Bangalore
3,Gajendra Singh,Head of Recruitment - Product &amp;...,A Leading of Product Start-UP Company,"Data Scientist, Big Data, Hadoop, Web Analytic...",Noida
4,Sadashiv Kulkarni,Company HR,Digitially Insights Pvt Ltd,"Big Data Engineer, Data Scientist, Solutions, ...",Pune
5,Invelopment,Company HR,Invelopment,Scandinavian Startups,Ahmedabad
6,Anjali Srivastava,Director HR,CodeFire Technologies Pvt. Ltd.,"Technical, Business Development Executive, Sof...",Noida
7,Helly Vyas,HR Business Partner,AM - TA &amp; HR,"Big Data technology, PLSQL, Web Developer, Jav...",Pune
8,Ashish Verma,Senior Associate Human Resources,Evalueserve.com Private Limited,"SAS, VBA, Business Information Services(BIS), ...",Gurgaon
9,Balaji Prabhakaran,Company Recruiter,Oportun,"Technical Solution Architect, Data Scientist, ...",Chennai
10,Shiva Kumar N,Founder,Rapid Talent Solutions -9148242334,"salaesforce, Web Technologies, .net, .net full...",Bengaluru / Bangalore
11,Bhuwneshari Devi,Lead Talent Acquisition,Success Pact Consulting,"Amazon, Olacabs, Quikr, Bankbazzar, Uber, Flip...",Delhi
12,HS Sandesh,Talent Evangelist www staffiohr co,Staffio HR,"Digital Marketing, General Manager, Business D...",Bengaluru / Bangalore
13,Anoop Somarajan,Manager - Talent Acquisition,R1RCM,"Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript...",Chennai
14,Datafoundry,Company HR,JAITRA SOFTWARE SOLUTIONS PVT LTD,"Webmethods Developer, Mean Stack, Business Ana...",Bengaluru / Bangalore
15,A Valsa Florina,Recruitment Specialist,Redbus.in,"Business Analyst, Front end developer, legal, ...",Bengaluru / Bangalore
16,Kalaivani M V,HR Manager,ZYUDLY LABS DATA SOLUTIONS PRIVATE LIMITED,"Data Scientist, Cloud Computing, Mobile Applic...",Chennai
17,Prashant K,Sr HR,Confidential,"Data Analyst, Statistical Analysis, Data Scien...",Bengaluru / Bangalore
18,Radhika,HR Associate,Bright Bridge Info-tech Pvt Ltd,"business analyst - IT (python), pay per click,...",Coimbatore
19,Rakhi,HR recruiter,Constalytics,"Data Scientist, Data Research Analyst, Big Dat...",Singapore - (singapore)
20,Monika Jain,Talent Aquistion Lead,Info Edge India Limited,"Lamp Developer, Ui/ux Developer, Qa Engineer, ...",Noida
21,Trilok Nath,Senior IT Recruiter,Molveno Consulting Private Limited,".Net Developers With Angular Js, Html, Front E...",Hyderabad / Secunderabad
22,Rashmi Kathuria,Talent Acquisition Specialist (Specialized...,Mount Talent consulting,"Leading MNCs, Product based organizations",Noida
23,Vidya Rani Hadimani,Business Manager Delivery,Talent Management Labs Inc.,Amazon Walmart Adobe OLA Myntracom Komli Media...,Bengaluru / Bangalore
24,Monika Singh Thakur,Technical Recruiter,ValueLabs,"Big Data Analytics, Marketing Analytics, Full ...",Indore
25,Shikha Bakshi,Senior Manager Recruitment,Fractal Analytics!!,"Analytics, Big Data, Hadoop, Python",Gurgaon
26,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
27,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
28,Sai Siddharth Chinta,Technical Recruiter,McKinsey &amp; Company,Not Specified,Bengaluru / Bangalore
29,Ravi,Team HR,Einfluss Teknocommercial Pvt. Ltd.,"Deep Learning, Machine Learning, unstructured ...",Ghaziabad
30,Ishu Kumar,Co Founder &amp; Ceo,Data X,"Python, Machine Learning, Sql, Data Science",Bengaluru / Bangalore
31,Vivek Shrivastava,Assistant Manager Human Resources,InnovAccer Management Pvt Ltd,"Business Analyst, analytics, Decesion Scientis...",Noida
32,Gayathri E,Sr Recruitment,Wonderwrks IT Services Private Limited,"IT Infrastructure Management, PHP, Wordpress, ...",Chennai
33,Best In Town Analytics,Analytics Associate,BITA,Data Analytics,Bengaluru / Bangalore
34,Santhosh Nagaiah,Chief marketing officer,Tuple Technologies Pte Ltd,"Data Science, Project Management, Backend",No details available
35,priyanka,General Manager,Reliance Industries,"Sap, Saas, Sql, Hadoop, Production Planning, B...",Mumbai
36,Nagendla Syam Kumar,Data Scientist,FLOWERHORN IT PVT LTD,"Machine Learning, NLP, Performance Review, HR,...",Bengaluru / Bangalore
37,Renny Benita K,Operations Manager,DeepIQ Software Solutions Pvt Ltd,"Core Java, J2ee, Big Data, Machine Learning, D...",Bengaluru / Bangalore
38,Jamil Akhtar,Company Recruiter,Quikkloan,Not Specified,Delhi
39,Roshan Menugu,Company Recruiter,Cyient Limited,Not Specified,Hyderabad / Secunderabad
40,Sudipta Samanta,Founder,DataNnoviteSol LLP,Not Specified,Pune
41,HR Team,Company HR,Terra Blue Exploration Technologies Pvt....,Not Specified,Bengaluru / Bangalore
42,rajesh,HR Executive,quantum value IT services,"Data Scientist, Tableau, R Tool, Data Analytic...",Bengaluru / Bangalore
43,navya neluri,Data Scientist,asens labs,Not Specified,Hyderabad / Secunderabad
44,Ram Kumar,Data Scientist,Working As A Freelancer,Not Specified,Pune
45,Laksh Barla,HR Executive,SYSVINE TECHNOLOGIES PRIVATE LIMITED,"Devops, Ruby Rails, Java, Spring, Net, Angular...",Chennai
46,Zack,Recruitment Manager,Perex Engineering Pvt Ltd,"Software Development, Javascript, Core Java, J...",Hyderabad / Secunderabad
47,Shreya Naithani,Talent Acquisition Executive,Purplejack Labs Pvt. Ltd.,"Node.js, React.js, Etl Testing, Data Warehousi...",Mumbai
48,Vanitha Senkurichi,Company HR,Quaero 3 India Ltd,"sql, Ui Development, ssis, Data Modeling, Data...",Bengaluru / Bangalore
49,Sravan Kumar Ranga,Assistant Manager,GSPANN Technologies,"devops, build and release, Delivery Manager, O...",Hyderabad / Secunderabad

Q8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
    
You have to find the following details:
    
A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [135]:
# Getting the webpage of mentioned url 
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'  
driver.get(url)

In [136]:
title = []           #Giving the empty list for all the coloumns, what all I want to extract.
author = []
volume = []
publisher = []
genre = []

tit = driver.find_elements_by_xpath('//table[@class="in-article sortable"]//tbody//tr//td[2]')     #Giving the xpath
aut = driver.find_elements_by_xpath('//table[@class="in-article sortable"]//tbody//tr//td[3]')
vol = driver.find_elements_by_xpath('//table[@class="in-article sortable"]//tbody//tr//td[4]')
pub = driver.find_elements_by_xpath('//table[@class="in-article sortable"]//tbody//tr//td[5]')
gen = driver.find_elements_by_xpath('//table[@class="in-article sortable"]//tbody//tr//td[6]')

for i in tit:
    title.append(i.text)                                           #Appending the text data
for j in aut:
    author.append(j.text)
for k in vol:
    volume.append(k.text)
for l in pub:
    publisher.append(l.text)
for m in gen:
    genre.append(m.text)
    
print(len(title))                                          #Printing the length of all the columns.
print(len(author))
print(len(volume))
print(len(publisher))
print(len(genre))

100
100
100
100
100

In [137]:
# Creating DataFrame from scraped data
df = pd.DataFrame({'Book name':title,
                   'Author name':author,
                   'Volumes sold':volume,
                   'Publisher':publisher,
                   'Genre':genre})
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q9. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/
    
You have to find the following details:
    
A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [138]:
# Getting the webpage of mentioned url 
url = 'https://www.imdb.com/list/ls095964455'    
driver.get(url)

In [139]:
name = []                             #Giving the empty list for all the columns, what all I want to extract
year = []
genre = []
time = []
ratings = []
votes = []

nam = driver.find_elements_by_xpath('//div[@class="lister-item-content"]/h3/a')            #Giving the Xpath
yea = driver.find_elements_by_xpath('//div[@class="lister-item-content"]/h3/span[2]')
gen = driver.find_elements_by_xpath('//p[@class="text-muted text-small"]//span[5]')
tim = driver.find_elements_by_xpath('//p[@class="text-muted text-small"]//span[3]')
rat = driver.find_elements_by_xpath('//div[@class="ipl-rating-widget"]/div/span[2]')
vot = driver.find_elements_by_xpath('//p[@class="text-muted text-small"][3]/span[2]')

for i in nam:
    name.append(i.text)                               #Iterating the text data from the data what I have extracted.
for j in yea:
    year.append(j.text)
for k in gen:
    genre.append(k.text)
for l in tim:
    time.append(l.text)
for m in rat:
    ratings.append(m.text)
for n in vot:
    votes.append(n.text)

print(len(name))                                     #Printing the length of the data
print(len(year))
print(len(genre))
print(len(time))
print(len(ratings))
print(len(votes))

100
100
100
100
100
100

In [140]:
# Creating DataFrame from scraped data
df = pd.DataFrame({'Name':name,
                   'Year':year,
                   'Genre':genre,
                   'Run Time':time,
                   'Ratings':ratings,
                   'Votes':votes})
df

,Name,Year,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,994,668"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,033,442"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"949,447"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"283,688"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"243,474"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.4,"48,856"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,538"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"190,386"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,295"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"228,737"

Q10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/
    
You have to find the following details:
    
A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code.

In [141]:
# Getting the webpage of mentioned url 
url = 'https://archive.ics.uci.edu/'     
driver.get(url)

In [142]:
#Clicking on 'View' button
view = driver.find_element_by_xpath('//span[@class="whitetext"][2]/a[1]')
view.click()

In [143]:
name = []                 #Giving the empty list for all the columns, what all I want to extract.
typee = []
task = []
attribute = []
instances = []
attributes = []
year = []

nam = driver.find_elements_by_xpath('//table[@cellpadding = "3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]')     #Giving the Xpath
typ = driver.find_elements_by_xpath('//table[@cellpadding = "3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
tas = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
attri = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
inst = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
attri = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
yea = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')

for i in nam[1:]:                               #Used the concept of indexing to extract the desired data
    name.append(i.text)                         #Appending the text data
for j in typ[1:]:
    typee.append(j.text)
for k in tas[1:]:
    task.append(k.text)
for l in attri[1:]:
    attribute.append(l.text)
for m in inst[1:]:
    instances.append(m.text)
for n in attri[1:]:
    attributes.append(n.text)
for o in yea[1:]:
    year.append(o.text)
    
print(len(name))                          #Printing the length for all the columns
print(len(typee))
print(len(task))
print(len(attribute))
print(len(instances))
print(len(attributes))
print(len(year))

622
622
622
622
622
622
622

In [144]:
# Creating DataFrame from scraped data
df = pd.DataFrame({'Name':name,
                    'Data Types':typee,
                    'Default Task':task,
                    'Attribute Types':attribute,
                    'Number of Instances':instances,
                    'Number of Attributes':attributes,
                    'Year':year})
df

,Name,Data Types,Default Task,Attribute Types,Number of Instances,Number of Attributes,Year
0,Abalone,Multivariate,Classification,8,4177,8,1995
1,Adult,Multivariate,Classification,14,48842,14,1996
2,Annealing,Multivariate,Classification,38,798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,294,37711,294,1998
4,Arrhythmia,Multivariate,Classification,279,452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twit...,Multivariate,Classification,525,75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,50,400,50,2020
619,Maternal Health Risk Data Set,,Classification,7,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,16,10129,16,2021
621,Image Recognition Task Execution Times in Mo...,Univariate,Regression,2,4000,2,2021